* {
  color: grey;
  font-weight: 200;
  font-size: 1rem;
}

.mat-toolbar-single-row {
  height: 90px;
}

.fill {
  flex: 1 1 auto;
}

a {
  padding: 10px 0;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid #1f262c;
}

.active-route {
  border-bottom: 2px solid #1f262c;
}