<div class="grid">
  <h1>
    ENTRE EM CONTATO CONOSCO
  </h1>
  <div class="row">
    <div class="col">
      <div class="container">

        <form>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input matInput>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field appearance="outline">
              <mat-label>Telefone</mat-label>
              <input matInput>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field appearance="outline">
              <mat-label>Mensagem</mat-label>
              <textarea matInput rows="5"></textarea>
            </mat-form-field>
          </p>
        </form>
        <br>
        <button mat-raised-button color="primary">Enviar</button>
      </div>
    </div>
    <div class="col">
      <div class="container">
        <h2>
          E-MAIL
        </h2>
        <p>
          email@email.com
        </p>
        <br>
        <h2>
          TELEFONE
        </h2>
        <p>
          (11) 98888-8888
        </p>
        <br>
        <h2>
          ENDEREÇO
        </h2>
        <p>
          RUA BAGÉ, 268, VILA MARIANA - SÃO PAULO - SP
        </p>
      </div>
    </div>
  </div>
</div>