<div class="container">
  <h1>
    QUEM SOMOS
  </h1>
  <p>
    O [NOME] é um escritório de arquitetura e interiores sediado em [CIDADE] que
    através de soluções integradas de arquitetura e engenharia, proporciona à seus clientes redução de custo,
    melhoria de qualidade e prazo em seus empreendimentos.

    Com uma equipe multidisciplinar, o [NOME] atua em três núcleos principais:

    <b>Núclero de Projetos, Núcleo de Gestão e Núcleo de Execução e Operação</b>, oferecendo
    soluções integradas para cada projeto.
  </p>

  <p>
    Há seis anos criamos espaços internos que valorizam a experiência humana: o
    aconchego, a felicidade, a poesia. Em cada projeto e com cada cliente,
    trabalhamos com criatividade e envolvimento, transparência e dedicação.
  </p>

  <p>
    Nós
    construímos ao longo dos anos um conjunto de trabalhos entregues que mostra o quanto cada projeto feito é único e
    pensado individualmente para cada pessoa. Estamos aqui para entender o seu sonho e as suas necessidades e, com muito
    carinho, desenvolver um projeto unicamente seu. Não fazemos repetição em massa e, para nós, a arquitetura de
    interiores não é apenas sobre a estética das coisas, mesmo isso sendo muito importante.
  </p>
  <p>

    Mais do que apenas projetos, entregamos <b>felicidade e bem estar</b>, com a certeza de que a experiência humana é
    prioridade, sempre aliada a boa arquitetura de interiores, afinal é dentro dos lugares que a vida realmente
    acontece.
  </p> ​
  <div class="button-container">
    <button mat-raised-button color="primary" [routerLink]="'/contato'">PEÇA UM ORÇAMENTO</button>
    <button mat-raised-button color="primary" [routerLink]="'/projetos'">NOSSOS PROJETOS</button>
  </div>
</div>